<% @page = 'index' %>
<% @page_title = 'ToDo list' %>
<% @page_lead_text = 'Because of your bad memory, we keep track of your todos.' %>


<table width='100%' class="table table-striped">
  <tr>
    <th width='25%'>Title</th>
    <th width='25%'>Due Date</th>
    <th width='25%'>Description</th>
    <th width='10%'>Actions</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.due %>
        <% if todo.overdue? %>
          <span class="label label-important pull-right">Overdue</span>
        <% end %>
      </td>
      <td><%= todo.description_with_size(20) %></td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to raw('<i class="icon icon-edit"></i>'), todo_path(todo), :class => 'btn' %>
            <%= link_to '<i class="icon icon-remove icon-white"></i>'.html_safe, todo, :class => "btn btn-danger", :method => :delete %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
