<% @page_title = 'ToDo list' %>
<% @page_lead_text = 'Because of your bad memory, we keep track of your todos.' %>


<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Due Date</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.due_date.inspect %></td>
      <td><%= todo.description.first(20) %><%= '...' if todo.description.length > 20 %></td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to '<i class="icon icon-edit"></i>edit'.html_safe, todo_path(todo), :class => 'btn' %>
            <%= link_to '<i class="icon icon-remove icon-white"></i>delete'.html_safe, todo, :class => "btn btn-danger", method: :delete %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
