<% @page = 'new' %>
<% @page_title = 'Create a new ToDo' %>
<% @page_lead_text = 'Never forget to buy milk anymore! Create your todo here.' %>

<script type="text/javascript">

    $('.control-group .controls .btn').on('click', function(e) {
                e.preventDefault();
                var $this = $(this);
                var $collapse = $this.closest('.collapse-group').find('.collapse');
                $collapse.collapse('toggle');
            }
    );

</script>


<%= form_for(@todo, :html => { :class => 'form-horizontal' } ) do |f| %>
  <div class="control-group">
    <%= f.label('Title', :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:title, :placeholder => 'Title', :class => 'input-block-level') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label('Due Date', :class => 'control-label') %>
    <div class="controls">
      <%= f.date_select(:due_date, :placeholder => 'Due Date', :class => 'input-block-level', :order => [:day, :month, :year])%>
    </div>
  </div>

    <div class="switch">
      <input type="checkbox">
    </div>

  <div class="control-group">
    <div class='control-group'>
      <%= f.label('Due Time', :class => 'control-label') %>
      <div class="controls">
        <button class="btn btn-small" data-toggle='button' type='button'>press he hard!</button>
        <%= f.button('klick mi du perverse sack', :class => 'btn btn-small', :'data-toggle' => 'button', :type => 'button') %>
        </div>
    </div>
    <div class='collapse out'>
      <%= f.label('Due Time', :class => 'control-label') %>
      <div class="controls">
        <%= f.time_select(:due_time, :placeholder => 'Due Time', :class => 'input-block-level')%>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label('Description', :class => 'control-label') %>
    <div class="controls">
      <%= f.text_area(:description, :placeholder => 'Description', :rows => '3', :class => 'input-block-level') %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit('Create', :class => 'btn btn-large btn-primary') %>
    <%= f.button('Cancel', :class => 'btn') %>
  </div>
<% end %>