<% @page = 'new' %>
<% @page_title = t(:page_new_title) %>
<% @page_lead_text = t(:page_new_lead) %>


<%= form_for(:todo, :url => '/todos', :html => { :class => 'form-horizontal' } ) do |f| %>

  <div class="control-group">
    <%= f.label( t(:new_title), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_field(:title, :placeholder => t(:new_title), :class => 'input-block-level') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label( t(:new_due_date), :class => 'control-label') %>
    <div class="controls">
      <%= f.date_select(:due_date, :class => 'input-block-level', :order => [:day, :month, :year], :start_year => Date.today.year)%>
    </div>
  </div>

  <div class="control-group">
    <div class='control-group'>
      <%= f.label( t(:new_due_time), :class => 'control-label') %>
      <div class="controls">
        <div id="due_date_switch"  class="switch switch-mini" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
          <%= f.check_box :'has_due_time' %>
        </div>
      </div>
    </div>
    <div id="due_time_form" class='collapse'>
      <div class="controls">
        <%= f.time_select(:due_time, :class => 'input-block-level', :order => [:minute, :hour]) %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label( t(:new_description), :class => 'control-label') %>
    <div class="controls">
      <%= f.text_area(:description, :placeholder => t(:new_description), :rows => '3', :class => 'input-block-level') %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit( t(:new_submit), :class => 'btn btn-large btn-primary') %>
    <%= link_to( t(:new_cancel), todos_path, :class => 'btn') %>
  </div>

<% end %>

<script>
  $('#due_date_switch').on('switch-change', function (e, data) {
    var $el = $(data.el), value = data.value;
    if(value) {
      $('#due_time_form').collapse('show');
    } else {
      $('#due_time_form').collapse('hide');
    }
  });
</script>