<!DOCTYPE html>
<html>

<head>
  <title>Todoer</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <div class="container">

    <div class="hero-unit">
      <h1><%= @page_title %></h1>
      <p class='lead'><%= @page_lead_text %></p>
      <p class="pull-right">
        <%= link_to(image_tag('flags/de.png'), '?locale=de') %>
        <%= link_to(image_tag('flags/gb.png'), '?locale=en') %>
      </p>
    </div>

    <div class="container">
      <ul class="nav nav-pills">
        <li class="<%= 'active' if @page == 'index' %>"><a href="<%= todos_path %>"><%= t(:page_menu_home) %></a></li>
        <li class="<%= 'active' if @page == 'new' %>"><a href="<%= new_todo_path %>"><%= t(:page_menu_new) %></a></li>
        <li></li>
      </ul>
    </div>

    <%= create_alert_field(flash[:type], flash[:title], flash[:message], flash[:options]) if flash[:type] %>

    <%= yield %>

    <hr>
    <footer>
      <p>&copy;<%= t(:page_copyright) %></p>
    </footer>

  </div>

</body>
</html>